@import "./styles/fonts";
@import "./styles/config";
@import "./styles/navbar";
@import "./styles/home";
@import "./styles/services";
@import "./styles/footer";

body {
    font-family: "Quicksand", sans-serif;
    height: 100vh;
}
.container{
    min-height: 100%;
}
.main{
    overflow: auto;
    padding-bottom: 200px;
    @include media-lg{
        padding-bottom: 300px;
    }

}
